services:
  fastapi_app:
    build:
      context: ./src/
    ports:
      - "8000:8000"
    networks:
      - app-network
    volumes:
      - ./src:/opt/app
      - ./config:/opt/config
    logging:
      driver: gelf
      options:
        gelf-address: "udp://logstash:12201"
        tag: "fastapi_app"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://fastapi_app:8000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    environment:
      - discovery.type=single-node
    ports:
      - "9200:9200"
    networks:
      - app-network

  logstash:
    image: docker.elastic.co/logstash/logstash:9.1.5
    volumes:
      - ./config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "12201:12201/udp"
    depends_on:
      - elasticsearch
    networks:
      - app-network

  kibana:
    image: docker.elastic.co/kibana/kibana:9.1.5
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - app-network

networks:
  app-network:
    driver: bridge