[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.mypy]
python_version = 3.10
strict = true
ignore_missing_imports = true
warn_unused_ignores = true
warn_redundant_casts = true
warn_unused_configs = true
